<% layout('./layouts/boilerplate.ejs') %>

    <body>
        <div class="alert alert-danger">
            <h1>Error <%= err.status %></h1>
           
            <p>
                <%= err.message %>
            </p>
        </div>
    </body>